.Navigation {
    margin-bottom: 25px;
}

.Brand {
    color: white;
    font-size: 12px;
    margin-top: -12px;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: -25px;
    margin-left: 10px;
}

.NavLink:hover {
    color: wheat;
    text-decoration: none;
}

.active 
{
    text-shadow: 1px 1px rgb(134, 187, 44);
    color: wheat ;
}